
@keyframes blink {
  50% { border-color: #ff0000; }
}
input{ /*or other element you want  proberen input#edit-don-t-push-it  */
  animation-name: blink ;
  animation-duration: .5s ;
  animation-timing-function: step-end ;
  animation-iteration-count: infinite ;
  animation-direction: alternate ;
}
